<!doctype html>
<html>
<head>
  <script type="text/javascript" src="/javascripts/jquery.js"></script>
  <script type="text/javascript" src="/javascripts/libs/moment.min.js"></script>
  <script type="text/javascript" src="/javascripts/libs/moment-timezone.min.js"></script>
  <script type="text/javascript" src="/javascripts/libs/moment-timezone-data.js"></script>
  <script type="text/javascript" src="/javascripts/calendar.js"></script>

  <link href="/stylesheets/calendar.css" rel="stylesheet" media="all" type="text/css" />

  <title><%= ENV['departure_lounge_title'] %></title>
</head>
<body>

  <header>
    <h1><%= ENV['departure_lounge_title'] %></h1>
  </header>

  <ul id="releases">

  </ul>
  <div id="status"></div>
</body>
</html>
