<!doctype html>
<html>
<head>
  <script type="text/javascript" src="/javascripts/jquery.js"></script>
  <script type="text/javascript" src="/javascripts/calendar.js"></script>

  <link href="/stylesheets/calendar.css" rel="stylesheet" media="all" type="text/css" />
</head>
<body>

  <header>
    <h1>Releases</h1>
  </header>

  <ul id="releases">

  </ul>
</body>
</html>
