body {
  background: #111;
  color: #fff;
  margin: 0;
  padding: 0;
  font-family: "Frutiger LT Std", "CartoGothic Std", Helvetica, Arial, sans-serif;
  font-size: 1.8em;
}

header {
  display: block;
  background: #ffbf2c;
  color: #000;
  padding: 0.7rem 0.5rem;
}

header h1 {
  margin: 0;
  padding: 0;
  font-size: 2.9rem;
  font-weight: bold;
  padding: 10px 85px 0px;
  line-height: 1.3em;
  background: url(/images/departures.png) no-repeat 10px center;
}

ul#releases {
  margin: 0;
  width: 100%;
  padding: 0;
}


#releases li {
  list-style: none;
  padding: 0.85em;
  border-bottom: 2px solid #333;
  display: block;
  margin: 0;
}

#releases li.now .time, #releases li.now .status {
  color: #b0ff63;
  -moz-animation:active 2s infinite; /* Firefox */
    /*-webkit-animation:myfirst 5s infinite; /* Safari and Chrome */
}
#releases li.now {
  background: url('/images/badger.png') no-repeat 98% center;
}
#releases li.fail .status {
  color: #ff3b40;
}

#releases li span {
  display: inline-block;
}
#releases li .app {
  display: block;
  font-size: 3.5rem;
}
#releases li .time {
  display: inline-block;
}
#releases li .status {
  display: inline-block;
  margin-left: 2rem;
}

#status {
  background: url('/images/bigger-badger.png') no-repeat top center;
  text-align: center;
  margin-top: 40px;
  padding-top: 300px;
}

@-moz-keyframes active {
  0%   {color: #fff;}
  50%  {color: #b0ff63;}
  100%   {color: #fff;}
}
